@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-opensans {
    font-family: 'Open Sans', sans-serif;
  }
}
